# Data Preperation

This code is to clean the source data in preperation for embedding the data into a vector database

## INPUT

CSV Data from raw_data directory

## OUTCOME

In order for this code to be successfully used in a vector db the following criteria must be met:
- 1 column must be declared as the "body"
  - it cannot have ANY null values
- Any metadata fields must be declared with an explanation of their use
- A decision on how to generate a Doc id that can allow the reverse lookup of the data needed in phase 3 (Variable generation) must be described in detail with pseudo code
  - Example of current Doc id => ` ids = [f"{doc.metadata['id']}-{doc.metadata['Variable']}" for doc in docs_batch]`

In [ ]:
# !pip install -qU \
#   pinecone-client==3.0.0 \
#   langchain==0.1.1 \
#   langchain-community==0.0.13 \
#   datasets==2.14.6 \
#   openai==1.6.1 \
#   tiktoken==0.5.2

In [17]:
import pandas as pd
import csv

## Getting Data

We will download an existing dataset from Hugging Face Datasets.

In [1]:
# from datasets import load_dataset

# data = load_dataset("jamescalam/ai-arxiv-chunked", split="train")
# data

Dataset({
    features: ['doi', 'chunk-id', 'chunk', 'id', 'title', 'summary', 'source', 'authors', 'categories', 'comment', 'journal_ref', 'primary_category', 'published', 'updated', 'references'],
    num_rows: 41584
})

In [18]:

df = pd.read_csv('./raw_data/BIOLINCC_DEDUPDICTIONARY.csv', encoding='latin-1')
df.rename(columns={'ï»¿Study': 'Study'}, inplace=True) # weird encoding issue...
df.head()

  Study     Variable                      Label
0  AADR  AUGDATE_FZD     Augmentation Date, fzd
1  AADR  AUGDATE_FZD     Augmentation date, fzd
2  AADR       CENTER  Center where testing done
3  AADR       CLINIC                     Clinic
4  AADR       CLINIC            Clinical Center

In [19]:
df.describe()

         Study Variable                                              Label
count   472612   472604                                             388956
unique     240   381277                                             263317
top       MASM      AGE  Count per minute with missing values for non-w...
freq     65563      207                                               1440

In [20]:
total_missing_values = df.isna().sum().sum()
print(total_missing_values)

83664

In [22]:
missing_label = df['Label'].isna().sum()
print(missing_label)

83656

In [32]:
df = df.dropna()